<div class="row control-box" style="width: 100% !important; padding-left: 10px;">
  <mat-card class="example-card" style="width: 100% !important">
    <mat-form-field style="width: 100% !important">
      <mat-label>Klient</mat-label>
      <mat-select [(ngModel)]="selected_client" (ngModelChange)="onSelectedClientChange($event)" disabled="{{getShouldDisableSelect()}}">
        <mat-option>None</mat-option>
        <mat-option *ngFor="let client of clients" [value]="client.id" >{{ client | clientNameSelect }}</mat-option>
      </mat-select>
    </mat-form-field>
    <div *ngIf="portraits.length == 0">
      Brak portretów w bazie danych dla danego klienta
    </div>
    <div *ngIf="portraits.length > 0 && !editMode">
      <mat-table  class="mat-elevation-z8" matSort [dataSource]="portraitsMat" style="width: 100%; text-align: center !important">
        <ng-container matColumnDef="id">
            <mat-header-cell *matHeaderCellDef mat-sort-header class="centre" style="cursor: pointer !important;">Id</mat-header-cell>
            <mat-cell *matCellDef="let element" class="centre"> {{element.id}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="baseNames">
                <mat-header-cell *matHeaderCellDef mat-sort-header style="cursor: pointer !important;">Nazwa</mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.baseNames}} </mat-cell>
              </ng-container>
        <ng-container matColumnDef="birthDate">
              <mat-header-cell *matHeaderCellDef mat-sort-header class="centre" style="cursor: pointer !important;">Wartość</mat-header-cell>
              <mat-cell *matCellDef="let element" class="centre" > {{element.birthDate}} </mat-cell>
            </ng-container>
        <ng-container matColumnDef="actions">
                <mat-header-cell *matHeaderCellDef>Akcje</mat-header-cell>
                <mat-cell *matCellDef="let element">
                    
                  <button mat-raised-button color="primary" (click)="edit(element)"><i class="fa fa-pencil-square-o"></i>Rozpocznij</button>
                  <button mat-button color="primary" (click)="editPortraitBase(element)"><i class="fa fa-pencil-square-o"></i>Edytuj</button>
                  <button mat-button color="primary" (click)="delete(element)"><i class="fa fa-pencil-square-o"></i>Usun</button>
                  </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
    <mat-paginator [pageSizeOptions]="[8, 12, 15]" showFirstLastButtons></mat-paginator>
    </div>
    <div *ngIf="!isAdding && !editMode" class="example-button-row" style="margin-top: 5px;">
      <button mat-button color="primary" (click)="addNewPortrait()" disabled="{{!canAddPortrait}}"><i class="fa fa-pencil-square-o"></i>Dodaj nowy portret do klienta</button>
    </div>
    <div *ngIf="!isAdding && editMode" class="example-button-row" style="margin-top: 5px;">
      <button mat-button color="primary" (click)="unEdit()" disabled="{{!editMode}}"><i class="fa fa-pencil-square-o"></i>Anuluj edycje</button>
    </div>
    <div *ngIf="isAdding" class="example-button-row" style="margin-top: 5px;">
      <button mat-button color="primary" (click)="cancelNewPortrait()" ><i class="fa fa-pencil-square-o"></i>Anuluj</button>
      <button mat-button color="primary" (click)="saveNewPortrait()" ><i class="fa fa-pencil-square-o"></i>Zapisz</button>
      <button mat-button color="primary" (click)="loadClientDataToPortrait()" ><i class="fa fa-pencil-square-o"></i>Wczytaj dane klienta</button>
      <div class="row">
        <mat-form-field style="width: 60%; margin-right: 5px; margin-left: 10px;">
          <mat-label>Imiona i nazwisko klienta</mat-label>
          <input [(ngModel)]="newPortraitBaseNames" matInput>
        </mat-form-field>
        <mat-form-field>
          <mat-label>MM-DD-YYYY</mat-label>
          <input matInput [matDatepicker]="picker3" placeholder="Data urodzenia" [(ngModel)]="newPortraitDateBase.value">
          <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
          <mat-datepicker #picker3></mat-datepicker>
        </mat-form-field>
      </div>
    </div>
  </mat-card>
  <div *ngIf="editMode" style="margin-top: 10px; width: 100%;">
      <mat-card>
        <h3>Edycja</h3>
        <div class="row">
          <div class="col-md-6">
            <p>Baza: {{objToEdit.baseNames}}</p>
            <p>Dodane imiona: {{addedNames}}</p>
            <p>{{numerologyBirthDate}}</p>
          </div>
          <div class="col-md-6">
            <table>
              <tbody>
                <tr style="font-weight: bold;">
                  <td>B</td>
                  <td>D</td>
                  <td>C</td>
                </tr>
                <tr>
                  <td style="font-weight: bold;">
                    {{objToEditBase.upRowMainWhole}}
                  </td>
                  <td style="font-weight: bold;">
                    {{objToEditAdded.upRowMainWhole}}
                  </td>
                  <td style="font-weight: bold;">
                    {{objtEditWhole.upRowMainWhole}}
                  </td>
                </tr>
                <tr>
                  <td style="font-weight: bold;">
                    {{objToEditBase.downRowMainWhole}}
                  </td>
                  <td style="font-weight: bold;">
                    {{objToEditAdded.downRowMainWhole}}
                  </td>
                  <td style="font-weight: bold;">
                    {{objtEditWhole.downRowMainWhole}}
                  </td>
                </tr>
                <tr>
                  <td style="font-weight: bold; text-align: center;">
                    -
                  </td>
                  <td style="font-weight: bold; text-align: center;">
                    -
                  </td>
                  <td style="font-weight: bold; text-align: center;">
                    -
                  </td>
                </tr>
                <tr>
                  <td style="font-weight: bold;">
                    {{sumNumerologyNumbers(objToEditBase.upRowMainWhole,objToEditBase.downRowMainWhole)}}
                  </td>
                  <td style="font-weight: bold;">
                    {{sumNumerologyNumbers(objToEditAdded.upRowMainWhole,objToEditAdded.downRowMainWhole)}}
                  </td>
                  <td style="font-weight: bold;">
                    {{sumNumerologyNumbers(objtEditWhole.upRowMainWhole,objtEditWhole.downRowMainWhole)}}
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <table style="font-weight: bold; text-align: center;">
          <thead>
            <tr>
              <th *ngFor="let number of numbers"></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td *ngFor="let number of numbers">{{objtEditWhole.upRowMainWhole[number]}}</td>
            </tr>
            <tr>
              <td *ngFor="let number of numbers">{{objtEditWhole.upRowMain[number]}}</td>
            </tr>
            <tr>
              <td *ngFor="let number of numbers"><span [ngClass]="getIsValidNumberString(objtEditWhole.upRow[number]) == true ? '' : 'myslnik'" >{{objtEditWhole.upRow[number]}}</span></td>
            </tr>
            <tr style="text-transform: uppercase; font-size: large;">
              <td *ngFor="let number of numbers">{{currentName[number]}}</td>
            </tr>
            <tr>
              <td *ngFor="let number of numbers"><span [ngClass]="[getIsValidNumberString(objtEditWhole.downRow[number]) == true ? '' : 'myslnik']" >{{objtEditWhole.downRow[number]}}</span></td>
            </tr>
            <tr>
              <td *ngFor="let number of numbers">{{objtEditWhole.downRowMain[number]}}</td>
            </tr>
            <tr>
              <td *ngFor="let number of numbers">{{objtEditWhole.downRowMainWhole[number]}}</td>
            </tr>
          </tbody>
        </table>
        <mat-card-content>
          <mat-form-field style="margin-right: 5px; width: 70%;">
            <input matInput type="text" placeholder="Imiona" [(ngModel)]="addedNames" (ngModelChange)="onAddedNamesChanged()">
          </mat-form-field>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button color="primary" (click)="savePortrait()">Zapisz</button>
          <button mat-raised-button color="primary" (click)="print()">Drukuj</button>
        </mat-card-actions>
        <mat-expansion-panel (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false" style="margin-top: 5px; margin-bottom: 5px;">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Potencjały, Punkty zwotne i Wyzwania
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="row">
            <div class="col-md-4">
              <p><span style="font-weight: bold;">1</span> - {{objToEditBase.one}} + {{objToEditAdded.one}} = {{objtEditWhole.one}}</p>
              <p><span style="font-weight: bold;">2</span> - {{objToEditBase.two}} + {{objToEditAdded.two}} = {{objtEditWhole.two}}</p>
              <p><span style="font-weight: bold;">3</span> - {{objToEditBase.three}} + {{objToEditAdded.three}} = {{objtEditWhole.three}}</p>
              <p><span style="font-weight: bold;">4</span> - {{objToEditBase.four}} + {{objToEditAdded.four}} = {{objtEditWhole.four}}</p>
              <p><span style="font-weight: bold;">5</span> - {{objToEditBase.five}} + {{objToEditAdded.five}} = {{objtEditWhole.five}}</p>
              <p><span style="font-weight: bold;">6</span> - {{objToEditBase.six}} + {{objToEditAdded.six}} = {{objtEditWhole.six}}</p>
              <p><span style="font-weight: bold;">7</span> - {{objToEditBase.seven}} + {{objToEditAdded.seven}} = {{objtEditWhole.seven}}</p>
              <p><span style="font-weight: bold;">8</span> - {{objToEditBase.eight}} + {{objToEditAdded.eight}} = {{objtEditWhole.eight}}</p>
              <p><span style="font-weight: bold;">9</span> - {{objToEditBase.nine}} + {{objToEditAdded.nine}} = {{objtEditWhole.nine}}</p>
              <p><span style="font-weight: bold;">SUM</span> - {{sumNumbersFromPotentials(objToEditBase)}} + {{sumNumbersFromPotentials(objToEditAdded)}} = {{sumNumbersFromPotentials(objtEditWhole)}}</p>
            </div>
            <div class="col-md-6">
              <table style="margin-bottom: 5px;">
                <tr>
                  <th>36-{{getMainPersonNumber()}} = {{substractionNumbersNormal(36, getMainPersonNumber())}}</th>
                </tr>
                <tr>
                  <th>(+9) {{sumNumbersNormal(substractionNumbersNormal(36, getMainPersonNumber()), 9)}}</th>
                </tr>
                <tr>
                  <th>(+9) {{sumNumbersNormal(substractionNumbersNormal(36, getMainPersonNumber()), 18)}}</th>
                </tr>
                <tr>
                  <th>(+9) {{sumNumbersNormal(substractionNumbersNormal(36, getMainPersonNumber()), 27)}}</th>
                </tr>
              </table>
              <span style="font-weight: bold;">Punkty zwrotne</span>
              <table>
                <tr>
                  <td>
                    {{challenges[0]}}
                  </td>
                </tr>
                <tr>
                  <td>
                    {{challenges[1]}}
                  </td>
                </tr>
                <tr>
                  <td>
                    {{challenges[2]}}
                  </td>
                </tr>
                <tr>
                  <td>
                    {{challenges[3]}}
                  </td>
                </tr>
              </table>
              <span style="font-weight: bold;">Wyzwania</span>
              <table>
                <tr>
                  <td>
                    {{challenges[4]}}
                  </td>
                </tr>
                <tr>
                  <td>
                    {{challenges[5]}}
                  </td>
                </tr>
                <tr>
                  <td>
                    {{challenges[6]}}
                  </td>
                </tr>
                <tr>
                  <td>
                    {{challenges[7]}}
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </mat-expansion-panel>
      </mat-card>
  </div>
</div>
