
<div *ngIf="editMode">
  <h1>
    Edytowanie klienta
  </h1>
</div>
<div *ngIf="!editMode == true">
  <h1>
    Dodawnie klienta
  </h1>
</div>

<form class="client-form">
  <mat-form-field style="width: 100%;">
    <input [(ngModel)]="clientModel.name" name="Imiona" matInput placeholder="Imiona" >
  </mat-form-field>

  <mat-form-field style="width: 100%;">
    <input [(ngModel)]="clientModel.surname" name="Nazwisko" matInput placeholder="Nazwisko">
  </mat-form-field>

  <mat-form-field style="width: 100%;">
    <input  [formControl]="date" name="urodzenia" matInput [matDatepicker]="picker3" placeholder="Data urodzenia">
    <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
    <mat-datepicker #picker3></mat-datepicker>
  </mat-form-field>

  <mat-form-field style="width: 100%;">
    <input [(ngModel)]="clientModel.telephone" name="Telefon" matInput placeholder="Telefon" >
  </mat-form-field>

  <mat-form-field style="width: 100%;">
    <input [(ngModel)]="clientModel.email" name="Email" matInput placeholder="Email" >
  </mat-form-field>

  <mat-form-field style="width: 100%;">
    <input [(ngModel)]="clientModel.skype" name="Skype" matInput placeholder="Skype" >
  </mat-form-field>

  <mat-form-field style="width: 100%;">
    <textarea [(ngModel)]="clientModel.note" name="Notatka" matInput placeholder="Notatka" ></textarea>
  </mat-form-field>
</form>
<div class="row" style="padding-left: 15px;"> 
  <div class="col-md-12">
      <button mat-raised-button color="primary" style="margin-bottom: 5px; height: 35px !important; cursor: pointer;" href="javascript:;" (click)="save()">
        <i class="fas fa-sync-alt"></i> Zapisz
      </button>
      <button mat-raised-button color="warn" class="pull-right" style="margin-bottom: 5px; margin-left: 5px; height: 35px !important; cursor: pointer;" href="javascript:;" (click)="delete()">
        <i class="fas fa-plus"></i> Usun
      </button>
      <button mat-raised-button color="accent" class="pull-right" style="margin-bottom: 5px; margin-left: 5px; height: 35px !important; cursor: pointer;" href="javascript:;" (click)="close()">
        <i class="fas fa-plus"></i> Anuluj
      </button>
  </div>
</div>