<div class="row control-box" style="width: 100% !important">
  <div class="col-md-12">
    <div class="row" style="padding-left: 15px;"> 
        <button mat-raised-button color="primary" style="margin-bottom: 5px; height: 35px !important; cursor: pointer;" href="javascript:;" (click)="refresh()">
          <i class="fas fa-sync-alt"></i> Odswiez
        </button>
        <button mat-raised-button color="primary" style="margin-bottom: 5px; margin-left: 5px; height: 35px !important; cursor: pointer;" href="javascript:;" (click)="add()">
          <i class="fas fa-plus"></i> Dodaj
        </button>
    </div>
    <mat-card>
      <mat-card-content>
        <mat-form-field>
          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
        </mat-form-field>
      </mat-card-content>
    </mat-card>
    <mat-table  class="mat-elevation-z8" matSort [dataSource]="clientsMat" style="width: 100%; text-align: center !important">
        <ng-container matColumnDef="id">
            <mat-header-cell *matHeaderCellDef mat-sort-header class="centre" style="cursor: pointer !important;">Id</mat-header-cell>
            <mat-cell *matCellDef="let element" class="centre"> {{element.id}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="name">
                <mat-header-cell *matHeaderCellDef mat-sort-header style="cursor: pointer !important;">Imiona</mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
              </ng-container>
        <ng-container matColumnDef="surname">
              <mat-header-cell *matHeaderCellDef mat-sort-header class="centre" style="cursor: pointer !important;">Nazwisko</mat-header-cell>
              <mat-cell *matCellDef="let element" class="centre" > {{element.surname}} </mat-cell>
            </ng-container>
        <ng-container matColumnDef="birthDate">
          <mat-header-cell *matHeaderCellDef mat-sort-header class="centre" style="cursor: pointer !important;">Data uro</mat-header-cell>
          <mat-cell *matCellDef="let element" class="centre" > {{element.birthDate}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="telephone">
          <mat-header-cell *matHeaderCellDef class="centre" style="cursor: pointer !important;">Telefon</mat-header-cell>
          <mat-cell *matCellDef="let element" class="centre" > {{element.telephone}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="email">
          <mat-header-cell *matHeaderCellDef mat-sort-header class="centre" style="cursor: pointer !important;">Email</mat-header-cell>
          <mat-cell *matCellDef="let element" class="centre" > {{element.email}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="skype">
          <mat-header-cell *matHeaderCellDef mat-sort-header class="centre" style="cursor: pointer !important;">Skype</mat-header-cell>
          <mat-cell *matCellDef="let element" class="centre" > {{element.skype}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="entryDate">
          <mat-header-cell *matHeaderCellDef mat-sort-header class="centre" style="cursor: pointer !important;">Entry</mat-header-cell>
          <mat-cell *matCellDef="let element" class="centre" > {{element.entryDate}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="actions">
                <mat-header-cell *matHeaderCellDef>Akcje</mat-header-cell>
                <mat-cell *matCellDef="let element">
                    
                  <button mat-button color="primary" (click)="edit(element)"><i class="fa fa-pencil-square-o"></i>Edytuj</button>
                  </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
    <mat-paginator [pageSizeOptions]="[8, 12, 15]" showFirstLastButtons></mat-paginator>
  </div>
</div>

