.centre{
  text-align: center !important;
}

mat-cell {
  display: flex !important;
  justify-content: center !important;
}

mat-header-cell {
  font-size: 1.1vw;
  display: flex;
  justify-content: center;
}